
<h2>What do different boroughs like to complain about?</h2>

<h3>Overview</h3>
<h4>Given we're reviewing data from February, a pretty cold month, most complaints are about "Heat/Hot Water". Makes sense. Queens and State Island are exceptions to the other three boroughs. Weird. Staten Island barely even registers any "Heat/Hot Water" complaints</h4>

<h3>Final Thoughts</h3>
<h4>Either Staten Island and Queens are getting good "Heat/Hot Water" or people are not as vocal as the other three boroughs.</h4>

