<h1>About</h1>

<b>This is the Final Project for STAT 5702, an Exploratory Data Analysis class at Columbia.</b>

<h3>Introduction</h3>

	<ul>
		<h4>Team:</h4>
			<ul>Danny Argov - <a href="https://github.com/odubno/" target="_blank">github.odubno</a>
			</ul>

			<ul>Oleh Dubno - <a href="https://github.com/datargov/" target="_blank">github.datargov</a>
			</ul>
	</ul>

	<ul>
		<h4>Why did we choose NYC 311 Data?</h4>
		<p>Outside of it being a clean data set, we live in NYC and are curious to learn more about what New Yorkers like to complain about.</p>
	</ul>

<h3>Description of Data</h3>

	<ul>
		<p>We got the data from NYC Open Data website. We're only working with the data from February 2018. Why February? Well it's a recent month and working with a full year is expensive both in time and cpu. New Yorkers report a lot of complaints. Specifically, just 200,000 complaints for February 2018. The data for February 2018 is 125 MB. You could download the csv below.</p>
		<ul>
			<a href="https://nycopendata.socrata.com/api/views/fhrw-4uyv/rows.csv?accessType=DOWNLOAD&query=select+*+where+%60created_date%60+%3E%3D+%272018-02-01T00%3A00%3A00%27+AND+%60created_date%60+%3C+%272018-02-28T23%3A59%3A59%27">DOWNLOAD 311 FEBRUARY DATA (125 MB)</a>
		</ul>
	</ul>


