
<!DOCTYPE html>
	<html>
		<head>
			<style>
				body {
				    font-family: "Lato", sans-serif;
				    padding-bottom: 200px;
				}


				.main {
				    font-size: 18px;
				}


			</style>
		</head>

		<body>

			<div class="main">

				<h1>About</h1>

				<b>This is the Final Project for STAT 5702, an Exploratory Data Analysis class at Columbia.</b>

				<br>

				<h3>Introduction</h3>

					<ul>
						<h4>Team:</h4>
							<ul>Danny Argov - <a href="https://github.com/odubno/" target="_blank">github.odubno</a>
							</ul>

							<ul>Oleh Dubno - <a href="https://github.com/datargov/" target="_blank">github.datargov</a>
							</ul>
					</ul>

					<ul>
						<h4>Why did we choose NYC 311 Data?</h4>
						<p>Outside of it being a clean data set, we live in NYC and are curious to learn more about what New Yorkers like to complain about.</p>
					</ul>

				<h3>Layout of the APP</h3>

					<ul>
						<i><h4>Boroughs</h4></i>
						<ul>Anysis of each complaint, while filtering by borough.</ul>
						<i><h4>Complaints</h4></i>
						<ul>Analysis of each borough, while filtering by complaint.</ul>
						<i><h4>Executive Summary</h4></i>
						<ul>Taking the "Main Analysis" from <b>Boroughs</b> and <b>Complaints</b> tabs and bringing them together.</ul>
						<i><h4>Resources</h4></i>
						<ul>What we used to create this app</ul>
						<i><h4>Extra</h4></i>
						<ul>Using the 311 API to make to see where complaints are happening in real time.</ul>
						<i><h4>About</h4></i>
						<ul>You're here</ul>
					</ul>

				<h3>The Strugle Is Chill</h3>

				<ul>
					<p>We began with an ambitious idea of scraping real estate data and predicting where it's best to live within NYC. We quickly came to a realization that we wouldn't have enough enough time for exploratory data analysis or even the idea to use shiny to showcase our work.</p>

					<p>After we got that out of our system and realized that we didn't have a lot of time, we settled on using clean data provided by NYC Open Data. We spent a good chunk of our time getting up to speed with shiny, fighting github to get data uploaded, cleaning our data and displaying the exploratory results.</p>

					<p>New Yorkers complain a lot. Just last Februrary 2018, there were ~200,000 comlaints filed. Initially, we wanted to do an anual analysis of the complaints. After downloading the 2GB file for 2017 and waiting ~10 minutes for R to load the data, we realized that we value our time and we need to focus on the analysis and not waiting for our data to load.</p>

					<p>Our analysis is centered around complaints filed during February 2018. It takes R approximately ~30 seconds to load the 200,000 complaints. It's ok and it's better than ~10 minutes.</p>

					<p>Cleaning the data wasn't much of an isses. "dcast" became our favorite tool in the beggining. Formatting date time took unecessarily long and we learned a lot about dealing with date and time in R using as.Date() and POSIXct().</p>

					<p>We also learned that not everything needs to be interactive, especially when making the first plot.</p>

					<p>Below we'll go over some of the struggles that we faced with the tools we used. Most of the struggles funnel down to memory issues and expensive processes due to data size.</p>

				</ul>

				
			</div>    





		</body>
	</html> 
