<h3>Overview</h3>

<p>Provide a detailed, well-organized description of your findings, including textual description, graphs, and code.  Your focus should be on both the results and the process. Include, as reasonable and relevant, approaches that didn't work, challenges, the data cleaning process, etc.</p>

<h4>Findings</h4>
<p>Describe the findings. How does each complaint compare to each other any by borough.</p>
<p>by: Danny</p>

<h4>Process</h4>
<p>Describe the process it took to organize the data and issues that you encountered.</p>
<p>by: Oleh</p>

<h4>Challenges</h4>
<p>Describe the challenges faced with the data. What did we want to learn but couldn't because we just didn't know what something meant.</p>
<p>by: Oleh</p>

<h4>Summary</h4>
<p>Add a conclusion/ summary.</p>
<p>eg. Either Staten Island and Queens are getting good "Heat/Hot Water" or people are not as vocal as the other three boroughs.</p>
<p>by: Danny</p>