<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<style>
				body {
				    font-family: "Lato", sans-serif;
				}

				.sidenav {
				    width: 160px;
				    position: fixed;
				    z-index: 1;
				    top: 100px;
				    left: 10px;
				    background: #eee;
				    overflow-x: hidden;
				    padding: 8px 0;
				}

				.sidenav a {
				    padding: 6px 8px 6px 16px;
				    text-decoration: none;
				    font-size: 20px;
				    color: #2196F3;
				    display: block;
				}

				.sidenav a:hover {
				    color: #064579;
				}

				.main {
				    margin-left: 170px; /* Same width as the sidebar + left position in px */
				    font-size: 18px; /* Increased text to enable scrolling */
				    padding: 0px 10px;
				}

				.div_pad {
					padding-top: 70px;
				}

				@media screen and (max-height: 450px) {
				    .sidenav {padding-top: 15px;}
				    .sidenav a {font-size: 18px;}
				}
			</style>
		</head>

		<body>

			<div class="sidenav">
				<a href="#introduction">Introduction</a>
				<a href="#what">The What</a>
				<a href="#how">The How</a>
				<a href="#when">Thew When</a>
				<a href="#where">Thew Where</a>
			</div>

			<div class="main">

		
				<div id="introduction" class="div_pad">
					<h2>Introduction</h2>
						<p>
							With over 8M complaints per year, NYC’s 311 data is one of the richest and most accurate views in to the socioeconomic features and urban context of New York City’s boroughs. The original data set, provided by 311 Services, contains one record for each customer’s call including information such as: service request type, service request open/close time and date and location(longitude and latitude). With that information, we are able to build interactive views in to the What, How, When and Where in regards to these complaints, anchoring on Borough. It’s also important to note that we focused on the month of February only, due to data size complexities (will be explained further in the “challenges” section). Something to note is that all data is nominal, such as borough and even complaint type; we are 
						</p>
				</div>
				<br>
				<br>
				<div id="what" class="div_pad">
					<h3>The What</h3>
					<ul>
						<p>
							If we simply select all of the Boroughs, we can easily discern that all of the boroughs outside of Staten Island have similar levels of complaint frequency. This is due to the simple fact of the populations of each borough, where Staten Island has a population of 479k vs. Brooklyn which has around 2.6M population.
						</p>
						<img src="boroughs_what_all.png" height="300" width="350"/> 
						<p>
							 If we dive in to what Staten Islanders complain about, we can see that the top two are Street Condition, and Request Large Bulky Items. Interestingly, If we look at just Staten Island and Queens side by side, we see a common trend in that the two top complaints are similar. Some initial thoughts as to why this may be can be attributed to the fact that the both boroughs are reliant on cars for the bulk of travel means. Also, many of the properties are larger.
						</p>
					</ul>
				</div>
				<br>
				<br>
				<div id="how" class="div_pad">
					<h3>The How</h3>
					<ul>
						<p>
							If we simply select all of the Boroughs, we can easily discern that all of the boroughs outside of Staten Island have similar levels of complaint frequency. This is due to the simple fact of the populations of each borough, where Staten Island has a population of 479k vs. Brooklyn which has around 2.6M population.
						</p>
						<img src="boroughs_what_all.png" height="300" width="350"/> 
						<p>
							 If we dive in to what Staten Islanders complain about, we can see that the top two are Street Condition, and Request Large Bulky Items. Interestingly, If we look at just Staten Island and Queens side by side, we see a common trend in that the two top complaints are similar. Some initial thoughts as to why this may be can be attributed to the fact that the both boroughs are reliant on cars for the bulk of travel means. Also, many of the properties are larger.
						</p>
					</ul>
				</div>
				<br>
				<br>
				<div id="when" class="div_pad">
					<h3>The When</h3>
					<ul>
						<p>
							If we simply select all of the Boroughs, we can easily discern that all of the boroughs outside of Staten Island have similar levels of complaint frequency. This is due to the simple fact of the populations of each borough, where Staten Island has a population of 479k vs. Brooklyn which has around 2.6M population.
						</p>
						<img src="boroughs_what_all.png" height="300" width="350"/> 
						<p>
							 If we dive in to what Staten Islanders complain about, we can see that the top two are Street Condition, and Request Large Bulky Items. Interestingly, If we look at just Staten Island and Queens side by side, we see a common trend in that the two top complaints are similar. Some initial thoughts as to why this may be can be attributed to the fact that the both boroughs are reliant on cars for the bulk of travel means. Also, many of the properties are larger.
						</p>
					</ul>
				</div>
				<br>
				<br>
				<div id="where" class="div_pad">
					<h3>The Where</h3>
					<ul>
						<p>
							If we simply select all of the Boroughs, we can easily discern that all of the boroughs outside of Staten Island have similar levels of complaint frequency. This is due to the simple fact of the populations of each borough, where Staten Island has a population of 479k vs. Brooklyn which has around 2.6M population.
						</p>
						<img src="boroughs_what_all.png" height="300" width="350"/> 
						<p>
							 If we dive in to what Staten Islanders complain about, we can see that the top two are Street Condition, and Request Large Bulky Items. Interestingly, If we look at just Staten Island and Queens side by side, we see a common trend in that the two top complaints are similar. Some initial thoughts as to why this may be can be attributed to the fact that the both boroughs are reliant on cars for the bulk of travel means. Also, many of the properties are larger.
						</p>
					</ul>
				</div>
			</div>    





		</body>
	</html> 

<!-- <h3>Explain why you chose this topic, and the questions you are interested in studying.</h3>

<h3>Describe how the data was collected, how you accessed it, and any other noteworthy features.</h3>

<h3>Provide a detailed, well-organized description of data quality, including textual description, graphs, and code.</h3>

 -->
